.loginGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 9rem);
    padding: 1rem 0;
}

.loginGrid div:nth-of-type(2) {
    display: none;
    background-image: url("/img/login.webp");
    background-position: center;
    background-size: cover;
}

@media (min-width: 992px) {
    .loginGrid div:nth-of-type(2) {
        display: block;
    }
}

.loginGrid article {
    padding: 0;
    overflow: hidden;
}

.loginGrid article div {
    padding: 1rem;
}

.loginGrid a img {
    height: 1.5rem;
    padding-right: 1rem;
    filter: var(--svg-color-inverted);
}

.loginGrid .logo {
    width: 25rem;
    padding-bottom: 2rem;
    filter: var(--svg-color);
}