/* Top nav */

nav .user-avatar {
  height: 2em;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1em;
  border-color: var(--contrast);
}

nav .top-logo {
  height: 2.1rem;
  filter: var(--svg-color);
}


/* Side nav */

main>div>aside nav {
  width: 100%;
  padding-bottom: var(--block-spacing-vertical);
}

@media (min-width: 992px) {
  main>div>aside nav {
    position: fixed;
    width: 200px;
    max-height: calc(100vh - 5.5rem);
    overflow-x: hidden;
    overflow-y: auto;
  }
}

main>div>aside nav a#toggle-docs-navigation {
  display: block;
  margin: 0;
  margin-bottom: var(--spacing);
  padding: 0;
  padding-bottom: var(--spacing);
  border-bottom: var(--border-width) solid var(--accordion-border-color);
}

main>div>aside nav a#toggle-docs-navigation svg {
  margin-right: calc(var(--spacing) * 0.5);
  vertical-align: -3px;
}

@media (min-width: 992px) {
  main>div>aside nav a#toggle-docs-navigation {
    display: none;
  }
}

main>div>aside nav.closed-on-mobile a#toggle-docs-navigation svg.collapse {
  display: none;
}

main>div>aside nav.closed-on-mobile details {
  display: none;
}

@media (min-width: 992px) {
  main>div>aside nav.closed-on-mobile details {
    display: block;
  }

  main>div>aside nav.closed-on-mobile>a#toggle-docs-navigation {
    display: none;
  }
}

main>div>aside nav.open a#toggle-docs-navigation svg.expand {
  display: none;
}

main>div>aside details {
  padding-bottom: 0;
}

main>div>aside details summary {
  padding-bottom: 0.5rem;
}

main>div>aside li,
main>div>aside summary {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 16px;
}

main>div>aside ul {
  padding-left: 0.25rem;
}

main>div>aside li a {
  --nav-link-spacing-vertical: 0.25rem;
  --nav-link-spacing-horizontal: 0.75rem;
}

main>div>aside li a svg {
  vertical-align: middle;
}

main>div>aside a.secondary:focus {
  background-color: transparent;
  color: var(--primary-hover);
}

main>div>aside details {
  border-bottom: none;
}

main>div>aside details summary {
  color: var(--h1-color);
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
}

main>div>aside details summary::after {
  display: none;
}

main>div>aside details[open]>summary {
  margin-bottom: 0;
}
