:root {
  --svg-color-inverted: invert(0%) sepia(100%) saturate(20%) hue-rotate(39deg) brightness(93%) contrast(107%);
  --svg-color: invert(100%) sepia(89%) saturate(0%) hue-rotate(172deg) brightness(105%) contrast(105%);
}

@media (prefers-color-scheme: light) {
  :root:not([data-theme]) {
      --svg-color-inverted: invert(100%) sepia(89%) saturate(0%) hue-rotate(172deg) brightness(105%) contrast(105%);
      --svg-color: invert(0%) sepia(100%) saturate(20%) hue-rotate(39deg) brightness(93%) contrast(107%);
  }
}

[data-theme="light"] {
  --svg-color-inverted: invert(100%) sepia(89%) saturate(0%) hue-rotate(172deg) brightness(105%) contrast(105%);
  --svg-color: invert(0%) sepia(100%) saturate(20%) hue-rotate(39deg) brightness(93%) contrast(107%);
}

/* Grid */
body>main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 7rem);
  padding: 1rem 0;
}

article {
  padding: 0;
  overflow: hidden;
}

article div {
  padding: 1rem;
}

.bogus-stats {
  display: flex;  
  justify-content: center;
}

nav .user-avatar{
  height: 2em;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1em;
  border-color: var(--contrast);
}

.icon {
  height: 2.1rem;
  filter: var(--svg-color);
  
}

.login a img {
  height: 1.5rem;
  padding-right: 1rem;
  filter: var(--svg-color-inverted);
}

@media (min-width: 576px) {
  body>main {
    padding: 1.25rem 0;
  }

  article div {
    padding: 1.25rem;
  }
}

@media (min-width: 768px) {
  body>main {
    padding: 1.5rem 0;
  }

  article div {
    padding: 1.5rem;
  }
}

@media (min-width: 992px) {
  body>main {
    padding: 1.75rem 0;
  }

  article div {
    padding: 1.75rem;
  }
}

@media (min-width: 1200px) {
  body>main {
    padding: 2rem 0;
  }

  article div {
    padding: 2rem;
  }
}

/* Nav */
summary[role="link"].secondary:is([aria-current], :hover, :active, :focus) {
  background-color: transparent;
  color: var(--secondary-hover);
}

/* Hero Image */
article div:nth-of-type(2) {
  display: none;
  background-color: #374956;
  background-image: url("/img/login.webp");
  background-position: center;
  background-size: cover;
}

@media (min-width: 992px) {
  .grid>div:nth-of-type(2) {    
    display: block;
  }
}

/* Footer */
body>footer {
  padding: 1rem;  
}

body>footer img {
  vertical-align: bottom;
 }

body>footer a {
  --color: var(--contrast);
 }
 body>footer a:hover {
  --color: var(--contrast-hover);
 }

body>footer div:nth-of-type(2) {
  text-align: right;
}

a.button {
  margin: 0;
    overflow: visible;
    font-family: inherit;
    text-transform: none;
    display: block;
    width: 100%;
    margin-bottom: var(--spacing);
    display: inline-block;
    text-decoration: none;
    --background-color: var(--contrast);
    --border-color: var(--contrast);
    --color: var(--contrast-inverse);
    --box-shadow: var(--button-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
    padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    outline: 0;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    color: var(--color);
    font-weight: var(--font-weight);
    font-size: 1rem;
    line-height: var(--line-height);
    text-align: center;
    cursor: pointer;
    transition: background-color var(--transition), border-color var(--transition), color var(--transition), box-shadow var(--transition)
}

a.button:hover {
  background-color: var(--contrast-hover);
}
