/* Variables */
:root {
    --font-size: 14px;
    --svg-color-inverted: brightness(0) saturate(100%) invert(11%) sepia(13%) saturate(1681%) hue-rotate(163deg)
        brightness(92%) contrast(89%);
    --svg-color: invert(70%) sepia(89%) saturate(0%) hue-rotate(172deg) brightness(105%) contrast(105%);
}

@media (prefers-color-scheme: light) {
    :root:not([data-theme]) {
        --svg-color-inverted: invert(70%) sepia(89%) saturate(0%) hue-rotate(172deg) brightness(105%) contrast(105%);
        --svg-color: brightness(0) saturate(100%) invert(11%) sepia(13%) saturate(1681%) hue-rotate(163deg) brightness(
            92%
        ) contrast(89%);
    }
}

[data-theme="light"] {
    --svg-color-inverted: invert(70%) sepia(89%) saturate(0%) hue-rotate(172deg) brightness(105%) contrast(105%);
    --svg-color: brightness(0) saturate(100%) invert(11%) sepia(13%) saturate(1681%) hue-rotate(163deg) brightness(92%)
        contrast(89%);
}

/* Responsive reactions */
@media (min-width: 992px) {
    main > .grid {
        grid-column-gap: var(--spacing-company);
        grid-template-columns: 25% auto;
    }
}

@media (min-width: 576px) {
    body > main {
        padding: 1.25rem 0;
    }

    article div {
        padding: 1.25rem;
    }
}

@media (min-width: 768px) {
    body > main {
        padding: 1.5rem 0;
    }

    article div {
        padding: 1.5rem;
    }
}

@media (min-width: 992px) {
    body > main {
        padding: 1.75rem 0;
    }

    article div {
        padding: 1.75rem;
    }
}

@media (min-width: 1200px) {
    body > main {
        padding: 2rem 0;
    }

    article div {
        padding: 2rem;
    }
}

body {
    /* For sticky footer */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Custom Classes */
.w-25 {
    max-width: 25%;
}
.w-50 {
    max-width: 50%;
}
.w-75 {
    max-width: 75%;
}
.w-100 {
    max-width: 100%;
}
.mt-1 {
    margin-top: 1rem;
}
.strong {
    font-weight: bold;
}
.block {
    display: block;
}
.icon {
    height: 2.1rem;
    filter: var(--svg-color);
}

/* Analysis */
.analysis-box {
    text-align: center;
}
.analysis-box-br {
    border-right: 1px solid var(--muted-border-color);
}
.analysis-full {
    font-size: 4rem;
    font-weight: bold;
    margin-top: 1rem;
}
.analysis-total {
    font-size: 3rem;
    font-weight: bold;
}
.analysis-details {
    font-size: 2rem;
}
.small {
    font-size: 0.8rem;
    font-style: italic;
}
.history-graph {
    margin-top: 1rem;
    background-color: var(--muted-border-color);
    width: 100%;
    height: 30rem;
}
article {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
article {
    padding: 0.5rem;
}
